@import "../variables";

.faq {
  background-color: $color-faq-backgroud;

  div.card {
    background-color: unset;
    .card-header {
      background-color: $color-faq-header;
    }
    .btn-link {
      color: #fff;
    }
  }

  &-title {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;

    @media screen and (min-width: 902px) {
      font-size: 3.5;
    }
  }
  &-clickable {
    cursor: pointer;
  }
}
